version: '2'

networks:
  my-network:
    driver: bridge
services:
  openldap:
    image: bitnami/openldap:2
    ports:
      - '1389:1389'
      - '1636:1636'
    environment:
      - LDAP_ADMIN_USERNAME={{openldap_admin_username}}
      - LDAP_ADMIN_PASSWORD={{openldap_admin_password}}
      - LDAP_ROOT={{openldap_root}}
    networks:
      - my-network
    volumes:
      - 'openldap_data:/bitnami/openldap'

volumes:
  openldap_data:
    driver: local
